body {
	background:#ffffff;
	font-family: 'Open-sans', sans-serif;
	font-weight:lighter;
	letter-spacing:5px;
	text-align:center;
}

#myname{
	margin:auto;
	font-size:69px;
	text-transform:uppercase;
	font-family: 'Dosis', sans-serif;
	color:black;
	padding: 1px 3px;
	display:block;
	background-color:#ffffff;
	border: 1px solid;
	border-radius: 2px;
	-webkit-border-radius:2px;
	border-width: 2px;
	color:#000000;
	transition: all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	letter-spacing:2.5px;
}

#myname:hover{
	background-color:#000000;
	color:white;
	
}

#home{
	height:580px;
	padding-top:290px;
	background: linear-gradient(to bottom right, #ffffff 50%, #ebefec 30%, #000000);
}
/* ABOUT ME */
#aboutme{
	height: 760px;
	
	background: linear-gradient(to top right, #ffffff 50%, #ebefec 30%, #000000 );
}
.helloJer{
	font-size:13px;
	text-align:left;
	display:inline-block;
}
/* EXPERIENCE SECTION */
#experienceSection{
	height:580px;
	padding-top: 290px;
	background: linear-gradient( 180deg, #ffffff 40%, #ebefec 20%, #2F4F4F );
}
#contactSection{
	height:580px;
	padding-top:290px;
	background: linear-gradient(360deg, #ffffff 40%, #ebefec 20%, #2F4F4F);
}
#blurb{
	font-size:12px;
	text-transform:uppercase;
	font-family:'dosis', sans-serif;
	padding-top: 1px;
	letter-spacing:3px;
}
#abouthomepage{
	color: black;
	font-size:18px;
	text-transform:lowercase;
}
#abouthomepage ul li{
	display: inline; padding: 15px;
}
.aboutPageContainer{
	
	display:inline-block;
	height:500px;
	width:500px;
}
.imageText1{
	font-weight:lighter;
	border-radius:2px;
	letter-spacing: 1px;
	font-family:'Open-sans', sans-serif;
	font-size: 26px;
	overflow: hidden;
	position:relative;
	
}
.textjer{
display:inline-block;
text-transform:lowercase;
font-weight:100;
	
}
.foodie{
display:inline-block;
text-transform:lowercase;
font-weight:100;
}
.welcomeWeb{
	display:inline-block;
	text-transform:lowercase;
font-weight:100;
}
.someExperience{
	font-family:'Open-sans', sans-serif;
	font-weight:bold;
	letter-spacing:2px;
	padding-top:55px;
}
.ramen{
	text-decoration: none;
	color:#FF69B4;
}
.curious{
	text-decoration: none;
	color:#FFD700;
}
/* social media buttons */
.facebook{
	height:36px;
	width:36px;
	display:inline-block;
	text-align:center;
}
button, .facebook{
	border-radius:7px;
}

.facebook:hover{
	background-color: #6495ED;
}

.github{
	height:36px;
	width:36px;
	display:inline-block;
	text-align:center;
}

button, .github{
	border-radius:50px;
}
.github:hover{
	background-color: 	#6495ED;
}
.linkedin{
	height:36px;
	width:40px;
	display:inline-block;
	text-align:center;
}
button, .linkedlin{
	border-radius:30px;
}
.linkedin:hover{
	background-color: 	#6495ED;
}
/* END SOCIAL MEDIA BUTTONS */
.aboutpage{
	display: inline-block;
	transition: all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;

}
.aboutpage a {
	color:#000000;
	text-decoration: none;
}

.aboutpage:hover{
	text-shadow:1.5px 1.5px #808080;
}
.contactpage{
	display: inline-block;
	transition: all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}
.contactpage a{
	color:#000000;
	text-decoration: none;
}

.contactpage:hover{
	text-shadow: 1.5px 1.5px #808080;
}
.experience{
	display:inline-block;
	transition: all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}
.experience a{ 
	color: #000000;
	text-decoration:none;
}

.experience:hover{
	text-shadow: 1.5px 1.5px #808080;
}
.resume{
	display:inline-block;
	transition: all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}
.resume a {
	color: #000000;
	text-decoration: none;
}
.resume:hover{
	text-shadow:1.5px 1.5px #808080;
}
.copyright{
	font-size:13px;
	letter-spacing:0px;
	font-style:italic;
	float:right;
	
}


