
body {
	background: linear-gradient(to bottom right, #ffffff 30%, #ebefec);
	font-family: 'Open-sans', sans-serif;
	
	font-weight:lighter;
	letter-spacing:5px;

	
	text-align:center;

	
}
#myname{
	margin:auto;
	font-size:40px;
	text-transform:uppercase;
	font-family: 'Dosis', sans-serif;
	color:black;
	padding: 1px 3px;
	display:block;
	background-color:#ffffff;
	border: 1px solid;
	border-radius: 2px;
	-webkit-border-radius:2px;
	border-width: 2px;
	color:#000000;
	transition: all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	letter-spacing:2.5px;

}

#myname:hover{
	background-color:#AFEEEE;
	color:white;

}

#blurb{
	font-size:12px;
	text-transform:uppercase;
	font-family:'dosis', sans-serif;
	padding-top: 5px;

}
#abouthomepage{
	text-align:center;
	color: black;
	font-size:18px;
	text-transform:lowercase;
	
	

}
#abouthomepage ul{
	border-top: 1px black solid; border-bottom: 1px black solid; margin 20px 0; padding: 10px 0;


}
#abouthomepage ul li{

	display: inline; padding: 15px;
}
.imgtext1{
	margin-top:10px;
	display:inline-block;
}
.imageText1{
	border-radius:2px;
	letter-spacing: 1px;
	font-family:'dosis', sans-serif;
	font-size: 26px;
	overflow: hidden;
	position:relative;
	margin: 10px 0px 40px 15px;
}

.textjer{
	position: relative;
	padding-left:200px;
	height: 244px;
	width: 350px;
	text-align:left;
	bottom: 0;
	left: 0px;
	float:right;
}
.ramen{
	
}


.facebook{
	height:36px;
	width:36px;
	display:inline-block;
	text-align:center;
}
button, .facebook{
	border-radius:7px;
}

.facebook:hover{
	background-color: #6495ED;
}

.github{
	height:36px;
	width:36px;
	display:inline-block;
	text-align:center;
}

button, .github{
	border-radius:50px;
}
.github:hover{
	background-color: 	#6495ED;
}
.linkedin{
	height:36px;
	width:40px;
	display:inline-block;
	text-align:center;
}
button, .linkedlin{
	border-radius:30px;
}
.linkedin:hover{
	background-color: 	#6495ED;
}
.aboutpage{
	display: inline-block;
	transition: all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;

}
.aboutpage a {
	color:#000000;
	text-decoration: none;
}

.aboutpage:hover{
	text-shadow:1.5px 1.5px #808080;
}
.contactpage{
	display: inline-block;
	transition: all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}
.contactpage a{
	color:#000000;
	text-decoration: none;
}

.contactpage:hover{
	text-shadow: 1.5px 1.5px #808080;
}
.projects{
	display:inline-block;
	transition: all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}
.projects a{ 
	color: #000000;
	text-decoration:none;
}

.projects:hover{
	text-shadow: 1.5px 1.5px #808080;
}
.resume{
	display:inline-block;
	transition: all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}
.resume a {
	color: #000000;
	text-decoration: none;
}
.resume:hover{
	text-shadow:1.5px 1.5px #808080;
}
.copyright{
	font-size:13px;
	letter-spacing:0px;
	font-style:italic;
	
}
